* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
/*    outline: none;*/
}

.btn-right-icon {
    margin-left: 10px;
}

/* CENTER */
.list-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-transfer {
  width: 310px;
}

.mdl-card__media {
	margin: 0;
    background: url('http://via.placeholder.com/150x150') center / cover;
}
.mdl-card__media > img {
	max-width: 100%;
}
